<button class="dark-mode-toggle" type="button" {{on "click" this.darkModeCycle}} title="{{this.statusTitle}}">
  <div class="dark-mode-toggle__switch" data-dark-mode-state="{{this.darkMode.isDark}}">
    <span class="dark-mode-toggle__switch-inner" data-dark-mode-state="{{this.darkMode.isDark}}" />
  </div>
</button>
